<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.example.entity.Department">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_code" jdbcType="INTEGER" property="departmentCode" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, department_code, department_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.entity.Department">
    insert into department (id, department_code, department_name
      )
    values (#{id,jdbcType=INTEGER}, #{departmentCode,jdbcType=INTEGER}, #{departmentName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.entity.Department">
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="departmentCode != null">
        department_code,
      </if>
      <if test="departmentName != null">
        department_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="departmentCode != null">
        #{departmentCode,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        #{departmentName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.entity.Department">
    update department
    <set>
      <if test="departmentCode != null">
        department_code = #{departmentCode,jdbcType=INTEGER},
      </if>
      <if test="departmentName != null">
        department_name = #{departmentName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.entity.Department">
    update department
    set department_code = #{departmentCode,jdbcType=INTEGER},
      department_name = #{departmentName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectALLDepartmentName" resultType="com.example.dto.department.DepartmentDTO">
    select id departmentId,department_name departmentName from department
  </select>
</mapper>